# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
ENV/

# Docker
*.log
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Test/coverage
dist/
build/
.coverage
htmlcov/

# CI
/.github/workflows/*.secrets 